In [1]:
import numpy as np
import pandas as pd

In [2]:
# load data file
data_file = pd.read_excel('jeu_de_données.xlsx')

In [3]:
nom = data_file['Nom']

In [4]:
prenom = data_file['Prénom']

In [102]:
moyenne = data_file['Moyenne']

In [103]:
age = data_file['Age']

In [104]:
sexe = data_file['Sexe']

In [105]:
moyenne = data_file['Moyenne']

In [11]:
print(data_file.columns)

Index(['Nom', 'Prénom', 'Adresse', 'Moyenne', 'Age', 'Région', 'Spécialité ',
       'Sexe'],
      dtype='object')

In [12]:
# extraction du fichier contanant la liste des élèves ayant la moyenne
liste_des_eleves_ayant_la_moyenne = data_file.loc[data_file['Moyenne'] >= 10.00]

In [13]:
print(liste_des_eleves_ayant_la_moyenne)

            Nom     Prénom                         Adresse  Moyenne  Age  \
0          fall    mahanta             34 rue jules ledin     12.67   22
1      levesque   florient          17 rue olivier dacourt    11.24   22
2         avrin       aude             3 impasse lafayette    10.87   19
3        bouart       mari                 8 rue ferdinand    14.25   22
5     Boulanger      jimmy                   1 rue flobert    11.29   21
7          hadi    othmane            14 rue des floralies    15.84   21
8          asri      manal            23 rue andré delorme    10.54   22
9         lubin     ulysse              44 rue franz liszt    10.32   19
11       gorbel    yasmine               3 allée du gachet    11.29   23
12      carudel    tristan              14 allée du vignon    15.46   21
13      lebosse      siman                   8 rue heurier    13.45   21
14      rolland        léa         7 chemin de la bernerie    10.32   22
16     eliasint       rudy            12 place jean jaurés    11.24   21
17  thiagarassa   pratheep           8 rue pierre morcillo    10.25   18
18        prana     marine               3 rue de la corre    13.64   22
19        fedon     naomie                 11 rue sablière    15.42   22
20       jouant    olivier        2 avenue danfer rocherau    11.34   24
21        gueye    ousmane               12 rue dupuytren     11.89   25
23       simard    gaspard            12 rue edouard petit    11.45   23
24         roux       loic                    25 rue foche    10.25   21
25        ragot  cassandre                  1 rue violette    12.24   22
26   lachapelle     samuel              14 rue jules ledin    17.27   19
27      chauvet        noe        8 rue de la lithographie    11.14   22
28      lessard     damien          3 rue eugene delacroix    10.32   22
29    depierres      julie     25 boulevard des états unis    10.55   22
32    letournau      diego            34 rue edgard quinet    12.12   22
33       bureau    bastien               7 rue de la valse    10.45   23
34    berthiome      alban            9 rue emile clermont    10.23   23
35    echeverri     dorian                 7 rue verriers     11.32   22
36      labelle      mateo          9 impasse de la montat    14.21   22
..          ...        ...                             ...      ...  ...
44   cuillerier   corentin        24 rue des puits lachaud    12.14   20
45        morin     victor          2 rue hector chalumeau    14.56   22
46         wane       yaya            29 rue henri brisson    13.47   22
47      pastord    camille             4 boulevard pasteur    11.02   22
48      flessel      laura    11 place de l'hotel de ville    10.96   24
49         wang      juang                   5 rue du parc    10.65   25
52      allaire     martin       11 rue blanchon benedicte    12.35   26
55       piegay     martin            8 rue du 11 mai 1945    12.45   22
56      flament     flavie  7 chemin guillaume apollinaire    15.68   22
57      loukili      iness              9 rue guy colombet    14.68   22
58      labonté   augustin                5 allée guynemer    14.32   25
59       chabot    mathias             9 rue d'outre furan    11.05   22
60        blanc      alban                 17 rue paillard    12.32   23
61        lison   mathilde           9 allée eugéne varlin    13.24   22
62      jacques     jeremy  44 boulevard du 38eme régiment    10.32   21
65    desnoyers    killian                17 cours fauriel    12.32   22
66       delord     rachel           9 rue de la formation    14.25   22
67      bourque     morgan                   7 rue flobert    12.36   19
68     brunelle      sacha             19 rue marcel berne    11.05   22
69        mbaye   pourmera              3 avenue du moulin    10.32   22
70       sesson       maya              17 rue marcel paul    10.65   22
72     delavoix  charlotte              21 rue fleuralisse    12.65   21
74      guertin    anthony             5 impasse du savana    10.39   20
75       sechet   mathilde             8 rue louis braille    15.36   22
76       racine    charles              17 rue de lougansk    10.35   22
78   de'almeida       remi         14 rue de la logistique    10.32   22
81    paimboeuf      david                  11 rue marengo    12.34   22
82      desmont    johanna             10 place fourneyron    10.29   23
83       busque      robin          14 rue albert françois    10.48   21
84       quessy     jeremy            13 rue antoine poyet    12.65   22

           Région   Spécialité       Sexe
0   saint etienne       telecom  masculin
1           paris  electronique  masculin
2           paris         image   féminin
3            lyon       réseaux   féminin
5   saint etienne       réseaux  masculin
7        toulouse    photonique  masculin
8            nice         image   féminin
9       marseille       telecom  masculin
11       bretagne       telecom   féminin
12          rouen       réseaux  masculin
13       bretagne  éléctronique  masculin
14       toulouse         image   féminin
16     strasbourg    photonique  masculin
17          paris         image  masculin
18           lyon  éléctronique   féminin
19          paris       telecom   féminin
20           nice    photonique  masculin
21  saint etienne       réseaux  masculin
23       bordeaux         image  masculin
24          paris       réseaux  masculin
25  saint etienne  electronique   féminin
26     strasbourg       telecom  masculin
27          lille       réseaux  masculin
28    La rochelle       telecom  masculin
29          Anecy         image   féminin
32      clermont        telecom  masculin
33          brest       réseaux  masculin
34  saint etienne         image  masculin
35          Anecy    photonique  masculin
36           lyon       telecom  masculin
..            ...           ...       ...
44      perpignan       telecom  masculin
45          lille       telecom  masculin
46       bretagne       réseaux  masculin
47       bordeaux         image   féminin
48          paris    photonique   féminin
49         nantes       telecom   féminin
52       grenoble       telecom  masculin
55    La rochelle       réseaux  masculin
56    montpellier       telecom   féminin
57            aix       telecom   féminin
58          paris       telecom  masculin
59       bordeaux    photonique  masculin
60         nantes  electronique  masculin
61          lille         image   féminin
62       bretagne       telecom  masculin
65  saint etienne  electronique  masculin
66       grenoble         image   féminin
67          paris    photonique  masculin
68      clermont        telecom  masculin
69           lyon  electronique   féminin
70     strasbourg       réseaux   féminin
72  saint etienne    photonique   féminin
74      perpignan       réseaux  masculin
75        avignon       réseaux   féminin
76    montpellier       telecom  masculin
78        limoges       telecom  masculin
81    montpellier         image  masculin
82          nancy       telecom   féminin
83           metz    photonique  masculin
84          nimes  electronique  masculin

[63 rows x 8 columns]

In [ ]:
# creation du fichier excel contenant la liste des élèves ayant la moyenne
liste_des_eleves_ayant_la_moyenne.to_excel('liste_des_eleves_ayant_la_moyenne.xlsx')

In [14]:
# extraction du fichier contenant la liste des élèves ayant plus de 20 ans
liste_des_eleves_ayant_plus_de_20_ans = data_file.loc[data_file['Age'] >= 20]

In [15]:
print(liste_des_eleves_ayant_plus_de_20_ans)

             Nom     Prénom                         Adresse  Moyenne  Age  \
0           fall    mahanta             34 rue jules ledin     12.67   22
1       levesque   florient          17 rue olivier dacourt    11.24   22
3         bouart       mari                 8 rue ferdinand    14.25   22
4        frignac    mélodie               37 rue des adieux     9.85   21
5      Boulanger      jimmy                   1 rue flobert    11.29   21
6        hassani       omar           12 place de la mairie     9.47   23
7           hadi    othmane            14 rue des floralies    15.84   21
8           asri      manal            23 rue andré delorme    10.54   22
10           nya     dexter             4 rue andré malraux     9.32   22
11        gorbel    yasmine               3 allée du gachet    11.29   23
12       carudel    tristan              14 allée du vignon    15.46   21
13       lebosse      siman                   8 rue heurier    13.45   21
14       rolland        léa         7 chemin de la bernerie    10.32   22
15     labrahimi      hamza           19 rue camille-saens      8.67   22
16      eliasint       rudy            12 place jean jaurés    11.24   21
18         prana     marine               3 rue de la corre    13.64   22
19         fedon     naomie                 11 rue sablière    15.42   22
20        jouant    olivier        2 avenue danfer rocherau    11.34   24
21         gueye    ousmane               12 rue dupuytren     11.89   25
22      lapierre    antonin           7 allée edouard lallo     9.25   22
23        simard    gaspard            12 rue edouard petit    11.45   23
24          roux       loic                    25 rue foche    10.25   21
25         ragot  cassandre                  1 rue violette    12.24   22
27       chauvet        noe        8 rue de la lithographie    11.14   22
28       lessard     damien          3 rue eugene delacroix    10.32   22
29     depierres      julie     25 boulevard des états unis    10.55   22
30     lanteigne    jordan               12 rue edgard déga     9.58   21
31       cotuand     gaetan                    5 rue moulin     7.14   23
32     letournau      diego            34 rue edgard quinet    12.12   22
33        bureau    bastien               7 rue de la valse    10.45   23
..           ...        ...                             ...      ...  ...
53       bachet     morgane              54 avenue beranger     9.32   22
54        bisson       yann            8 place de la nation     7.63   22
55        piegay     martin            8 rue du 11 mai 1945    12.45   22
56       flament     flavie  7 chemin guillaume apollinaire    15.68   22
57       loukili      iness              9 rue guy colombet    14.68   22
58       labonté   augustin                5 allée guynemer    14.32   25
59        chabot    mathias             9 rue d'outre furan    11.05   22
60         blanc      alban                 17 rue paillard    12.32   23
61         lison   mathilde           9 allée eugéne varlin    13.24   22
62       jacques     jeremy  44 boulevard du 38eme régiment    10.32   21
63       mounier  alexandra                    8 rue alliée     9.65   20
64  desruisseaux     arnaud               5 rue faure belon     8.65   22
65     desnoyers    killian                17 cours fauriel    12.32   22
66        delord     rachel           9 rue de la formation    14.25   22
68      brunelle      sacha             19 rue marcel berne    11.05   22
69         mbaye   pourmera              3 avenue du moulin    10.32   22
70        sesson       maya              17 rue marcel paul    10.65   22
71        fillon    estelle                    3 rue forges     9.04   24
72      delavoix  charlotte              21 rue fleuralisse    12.65   21
73       fortier       alex           17 rue du 4 septembre     8.32   21
74       guertin    anthony             5 impasse du savana    10.39   20
75        sechet   mathilde             8 rue louis braille    15.36   22
76        racine    charles              17 rue de lougansk    10.35   22
77       chauvet      oscar          9 allée louis duschéne     8.35   22
78    de'almeida       remi         14 rue de la logistique    10.32   22
79        bisson    mathieu                1 rue marthourey     7.34   22
81     paimboeuf      david                  11 rue marengo    12.34   22
82       desmont    johanna             10 place fourneyron    10.29   23
83        busque      robin          14 rue albert françois    10.48   21
84        quessy     jeremy            13 rue antoine poyet    12.65   22

           Région   Spécialité       Sexe
0   saint etienne       telecom  masculin
1           paris  electronique  masculin
3            lyon       réseaux   féminin
4           lille       telecom   féminin
5   saint etienne       réseaux  masculin
6   saint etienne       telecom  masculin
7        toulouse    photonique  masculin
8            nice         image   féminin
10       poitiers    photonique  masculin
11       bretagne       telecom   féminin
12          rouen       réseaux  masculin
13       bretagne  éléctronique  masculin
14       toulouse         image   féminin
15           lyon       telecom  masculin
16     strasbourg    photonique  masculin
18           lyon  éléctronique   féminin
19          paris       telecom   féminin
20           nice    photonique  masculin
21  saint etienne       réseaux  masculin
22           lyon  electronique  masculin
23       bordeaux         image  masculin
24          paris       réseaux  masculin
25  saint etienne  electronique   féminin
27          lille       réseaux  masculin
28    La rochelle       telecom  masculin
29          Anecy         image   féminin
30          paris    photonique  masculin
31           nice  electronique  masculin
32      clermont        telecom  masculin
33          brest       réseaux  masculin
..            ...           ...       ...
53     strasbourg  electronique   féminin
54  saint etienne    photonique  masculin
55    La rochelle       réseaux  masculin
56    montpellier       telecom   féminin
57            aix       telecom   féminin
58          paris       telecom  masculin
59       bordeaux    photonique  masculin
60         nantes  electronique  masculin
61          lille         image   féminin
62       bretagne       telecom  masculin
63           lyon       réseaux   féminin
64      clermont        réseaux  masculin
65  saint etienne  electronique  masculin
66       grenoble         image   féminin
68      clermont        telecom  masculin
69           lyon  electronique   féminin
70     strasbourg       réseaux   féminin
71         nantes       telecom   féminin
72  saint etienne    photonique   féminin
73          nimes       réseaux  masculin
74      perpignan       réseaux  masculin
75        avignon       réseaux   féminin
76    montpellier       telecom  masculin
77  saint etienne       telecom  masculin
78        limoges       telecom  masculin
79         angers  electronique  masculin
81    montpellier         image  masculin
82          nancy       telecom   féminin
83           metz    photonique  masculin
84          nimes  electronique  masculin

[79 rows x 8 columns]

In [ ]:
# création du fichier excel contenant la liste des élèves ayant plus de 20 ans 
liste_des_eleves_ayant_plus_de_20_ans.to_excel('liste_des_eleves_ayant_plus_de_20_ans.xlsx')

In [106]:
# calcul de la moyenne de l'école
moyenne_ecole = moyenne.mean()

In [107]:
print(moyenne_ecole)

11.246823529411763

In [108]:
# calcul du pourcentage de filles et de garçons

liste_des_eleves_filles = data_file.loc[data_file['Sexe'] == 'féminin']    
a = len(liste_des_eleves_filles)
b = len(sexe)
pourc_f = a/b*100
print(pourc_f)
pourc_g = 100 - pourc_f
print(pourc_g)

31.76470588235294
68.23529411764706

In [109]:
region = data_file['Région']

In [110]:
# on va commencer par determiner le nombre d'occurence de nos régions dans notre fichier
# cela nous permet de visualiser les différentes types de regions d'ou proviennent nos eleves
occurence_des_regions = {}.fromkeys(set(region),0)
for valeur in region:
    occurence_des_regions[valeur] += 1
print(occurence_des_regions)

{'nantes': 3, 'nice': 3, 'metz': 1, 'perpignan': 2, 'bretagne': 4, 'La rochelle': 3, 'nancy': 1, 'toulouse': 2, 'Anecy': 2, 'poitiers': 1, 'rouen': 1, 'paris': 10, 'nimes': 2, 'bordeaux': 4, 'reims': 1, 'avignon': 1, 'marseille': 3, 'limoges': 1, 'saint etienne': 11, 'aix': 1, 'lyon': 9, 'clermont ': 3, 'brest': 1, 'angers': 1, 'strasbourg': 5, 'grenoble': 2, 'lille': 4, 'montpellier': 3}

In [34]:
# par exemple on va acceder au groupe d'eleves provenant de nantes
region_nantes = data_file.loc[data_file['Région'] == 'nantes']

In [36]:
# ensuite on accéde aux moyennes des eleves provenant de nantes
nantes_moyenne = region_nantes['Moyenne']

In [39]:
# ensuite on calcule la moyenne de ce groupe spécifique d'eleves
la_moyenne_de_nantes = nantes_moyenne.mean()

In [40]:
# enfin on affiche la moyenne obtenu pour vérifier que ça marche
print(la_moyenne_de_nantes)

10.67

In [41]:
# on repete ce procédé pour les autres régions
# il convient de noter que ce procédé semble laborieux surtout si la taille u fichier et plus volumineux
# il existe sans doute une méthode plus rapide et moins laborieuse pour accomplir cette tache
region_nice = data_file.loc[data_file['Région'] == 'nice']
nice_moyenne = region_nice['Moyenne']
la_moyenne_de_nice = nice_moyenne.mean()
print(la_moyenne_de_nice)

9.673333333333334

In [42]:
region_metz = data_file.loc[data_file['Région'] == 'metz']
metz_moyenne = region_metz['Moyenne']
la_moyenne_de_metz = metz_moyenne.mean()
print(la_moyenne_de_metz)

10.48

In [43]:
region_perpignan = data_file.loc[data_file['Région'] == 'perpignan']
perpignan_moyenne = region_perpignan['Moyenne']
la_moyenne_de_perpignan = perpignan_moyenne.mean()
print(la_moyenne_de_perpignan)

11.265

In [44]:
region_bretagne = data_file.loc[data_file['Région'] == 'bretagne']
bretagne_moyenne = region_bretagne['Moyenne']
la_moyenne_de_bretagne = bretagne_moyenne.mean()
print(la_moyenne_de_bretagne)

12.1325

In [45]:
region_LaRochelle = data_file.loc[data_file['Région'] == 'La rochelle']
LaRochelle_moyenne = region_LaRochelle['Moyenne']
la_moyenne_de_LaRochelle = LaRochelle_moyenne.mean()
print(la_moyenne_de_LaRochelle)

9.97

In [46]:
region_nancy = data_file.loc[data_file['Région'] == 'nancy']
nancy_moyenne = region_nancy['Moyenne']
la_moyenne_de_nancy = nancy_moyenne.mean()
print(la_moyenne_de_nancy)

10.29

In [47]:
region_toulouse = data_file.loc[data_file['Région'] == 'toulouse']
toulouse_moyenne = region_toulouse['Moyenne']
la_moyenne_de_toulouse = toulouse_moyenne.mean()
print(la_moyenne_de_toulouse)

13.08

In [57]:
region_anecy = data_file.loc[data_file['Région'] == 'Anecy']
anecy_moyenne = region_anecy['Moyenne']
la_moyenne_de_anecy = anecy_moyenne.mean()
print(la_moyenne_de_anecy)

10.935

In [58]:
region_poitiers = data_file.loc[data_file['Région'] == 'poitiers']
poitiers_moyenne = region_poitiers['Moyenne']
la_moyenne_de_poitiers = poitiers_moyenne.mean()
print(la_moyenne_de_poitiers)

9.32

In [59]:
region_rouen = data_file.loc[data_file['Région'] == 'rouen']
rouen_moyenne = region_rouen['Moyenne']
la_moyenne_de_rouen = rouen_moyenne.mean()
print(la_moyenne_de_rouen)

15.46

In [60]:
region_paris = data_file.loc[data_file['Région'] == 'paris']
paris_moyenne = region_paris['Moyenne']
la_moyenne_de_paris = paris_moyenne.mean()
print(la_moyenne_de_paris)

11.457

In [61]:
region_nimes = data_file.loc[data_file['Région'] == 'nimes']
nimes_moyenne = region_nimes['Moyenne']
la_moyenne_de_nimes = nimes_moyenne.mean()
print(la_moyenne_de_nimes)

10.485

In [62]:
region_bordeaux = data_file.loc[data_file['Région'] == 'bordeaux']
bordeaux_moyenne = region_bordeaux['Moyenne']
la_moyenne_de_bordeaux = bordeaux_moyenne.mean()
print(la_moyenne_de_bordeaux)

10.84

In [63]:
region_reims = data_file.loc[data_file['Région'] == 'reims']
reims_moyenne = region_reims['Moyenne']
la_moyenne_de_reims = reims_moyenne.mean()
print(la_moyenne_de_reims)

8.63

In [64]:
region_avignon = data_file.loc[data_file['Région'] == 'avignon']
avignon_moyenne = region_avignon['Moyenne']
la_moyenne_de_avignon = avignon_moyenne.mean()
print(la_moyenne_de_avignon)

15.36

In [65]:
region_marseille = data_file.loc[data_file['Région'] == 'marseille']
marseille_moyenne = region_marseille['Moyenne']
la_moyenne_de_marseille = marseille_moyenne.mean()
print(la_moyenne_de_marseille)

10.393333333333333

In [66]:
region_limoges = data_file.loc[data_file['Région'] == 'limoges']
limoges_moyenne = region_limoges['Moyenne']
la_moyenne_de_limoges = limoges_moyenne.mean()
print(la_moyenne_de_limoges)

10.32

In [67]:
region_SaintEtienne = data_file.loc[data_file['Région'] == 'saint etienne']
SaintEtienne_moyenne = region_SaintEtienne['Moyenne']
la_moyenne_de_SaintEtienne = SaintEtienne_moyenne.mean()
print(la_moyenne_de_SaintEtienne)

10.671818181818184

In [68]:
region_aix = data_file.loc[data_file['Région'] == 'aix']
aix_moyenne = region_aix['Moyenne']
la_moyenne_de_aix = aix_moyenne.mean()
print(la_moyenne_de_aix)

14.68

In [69]:
region_lyon = data_file.loc[data_file['Région'] == 'lyon']
lyon_moyenne = region_lyon['Moyenne']
la_moyenne_de_lyon = lyon_moyenne.mean()
print(la_moyenne_de_lyon)

11.09777777777778

In [71]:
region_clermont = data_file.loc[data_file['Région'] == 'clermont ']
clermont_moyenne = region_clermont['Moyenne']
la_moyenne_de_clermont = clermont_moyenne.mean()
print(la_moyenne_de_clermont)

10.606666666666667

In [72]:
region_brest = data_file.loc[data_file['Région'] == 'brest']
brest_moyenne = region_brest['Moyenne']
la_moyenne_de_brest = brest_moyenne.mean()
print(la_moyenne_de_brest)

10.45

In [73]:
region_angers = data_file.loc[data_file['Région'] == 'angers']
angers_moyenne = region_angers['Moyenne']
la_moyenne_de_angers = angers_moyenne.mean()
print(la_moyenne_de_angers)

7.34

In [74]:
region_strasbourg = data_file.loc[data_file['Région'] == 'strasbourg']
strasbourg_moyenne = region_strasbourg['Moyenne']
la_moyenne_de_strasbourg = strasbourg_moyenne.mean()
print(la_moyenne_de_strasbourg)

12.138

In [75]:
region_grenoble = data_file.loc[data_file['Région'] == 'grenoble']
grenoble_moyenne = region_grenoble['Moyenne']
la_moyenne_de_grenoble = grenoble_moyenne.mean()
print(la_moyenne_de_grenoble)

13.3

In [76]:
region_lille = data_file.loc[data_file['Région'] == 'lille']
lille_moyenne = region_lille['Moyenne']
la_moyenne_de_lille = lille_moyenne.mean()
print(la_moyenne_de_lille)

12.197500000000002

In [77]:
region_montpellier = data_file.loc[data_file['Région'] == 'montpellier']
montpellier_moyenne = region_montpellier['Moyenne']
la_moyenne_de_montpellier = montpellier_moyenne.mean()
print(la_moyenne_de_montpellier)

12.790000000000001

In [78]:
liste_des_moyennes_des_villes =[la_moyenne_de_nantes, la_moyenne_de_montpellier, la_moyenne_de_nice, la_moyenne_de_metz, la_moyenne_de_bretagne, la_moyenne_de_LaRochelle, la_moyenne_de_nancy, la_moyenne_de_toulouse, la_moyenne_de_anecy, la_moyenne_de_poitiers, la_moyenne_de_rouen, la_moyenne_de_paris, la_moyenne_de_nimes, la_moyenne_de_bordeaux, la_moyenne_de_reims, la_moyenne_de_avignon, la_moyenne_de_marseille, la_moyenne_de_limoges, la_moyenne_de_SaintEtienne, la_moyenne_de_aix, la_moyenne_de_lyon, la_moyenne_de_clermont, la_moyenne_de_brest, la_moyenne_de_angers, la_moyenne_de_strasbourg, la_moyenne_de_grenoble, la_moyenne_de_lille, la_moyenne_de_montpellier]
print(liste_des_moyennes_des_villes)

[10.67, 12.790000000000001, 9.673333333333334, 10.48, 12.1325, 9.97, 10.29, 13.08, 10.935, 9.32, 15.46, 11.457, 10.485, 10.84, 8.63, 15.36, 10.393333333333333, 10.32, 10.671818181818184, 14.68, 11.09777777777778, 10.606666666666667, 10.45, 7.34, 12.138, 13.3, 12.197500000000002, 12.790000000000001]

In [85]:
la_moyenne_de_la_meilleur_region = max(liste_des_moyennes_des_villes)

In [86]:
print(la_moyenne_de_la_meilleur_region)

15.46

In [88]:
la_region_la_plus_forte = 'Rouen'

In [89]:
print(la_region_la_plus_forte)

Rouen

In [115]:
# nous regroupons les statistiques obtenues plus haut afin de pouvoir creer un fichier excel avec les stats globales
statistiques_globales_ecole = {'moyenne ecole':[moyenne_ecole], 'pourcentage de fille':[pourc_f], 'pourcentage de garçon':[pourc_g], 'la region qui a les meilleurs eleves':[la_region_la_plus_forte]}
df = pd.DataFrame(data = statistiques_globales_ecole)
df

,moyenne ecole,pourcentage de fille,pourcentage de garçon,la region qui a les meilleurs eleves
0,11.246824,31.764706,68.235294,Rouen

In [114]:
visualisation_des_statistiques = df
visualisation_des_statistiques.to_excel('statistiques_globales.xlsx')